<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.phone" package="com.qualcomm.qti.callfeaturessetting" platformBuildVersionCode="26" platformBuildVersionName="8.0.0">
    <application android:process="com.android.phone">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/call_barring" android:name=".gsm.callbarring.CallBarring" android:theme="@style/SettingsLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/labelCF" android:name=".cdma.CdmaCallForwardWaiting.CdmaCallForwardOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.codeaurora.settings.CDMA_CALL_FORWARDING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/labelCW" android:name=".cdma.CdmaCallForwardWaiting.CdmaCallWaitingOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.codeaurora.settings.CDMA_CALL_WAITING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>